@import url(https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif);
/*reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans";
  overflow-x: hidden;
}

/*First Part*/
/*header*/
header {
  background-image: url(./images/banner.jpg);
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100vw;
}

.social {
  background-color: #debb9c;
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.social i {
  padding: 1em 0.5em;
}

.social li {
  margin: 0 3em;
}

/*navigation in the header*/
nav ul {
  color: white;
  display: flex;
  list-style: none;
  justify-content: end;
  text-align: end;
}

nav ul li {
  padding: 1em 2.5em;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:visited {
  text-decoration: none;
  color: white;
}

/*banner*/
.banner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 5em 0em;
}

.title {
  font-size: 3em;
  letter-spacing: 0.1em;
  font-weight: bolder;
  text-align: center;
}

.motivational-words {
  text-align: center;
  padding: 1.5em 0em;
}

/*Second Part*/
.cards,
.cards-two {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titles {
  width: 100%;
}

.cards div h2,
.cards-two div h2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 2em;
  margin: 1em 0;
}
.line {
  border-top: 4px solid #9ac2e1;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.articles {
  display: flex;
  width: 100%;
}

.articles article {
  display: flex;
  flex-basis: 33.33333%;
  flex-direction: column;
  align-items: center;
  padding: 2em 5em;
  text-align: center;
}

.articles article i {
  padding-bottom: 1em;
}

.articles article h3 {
  color: #9ac2e1;
  padding-bottom: 1em;
}
.articles article p {
  padding: 0 1em;
  font-weight: 500;
}

/*third*/
.cards-two {
  background-color: #efefef;
}
.cards-two p {
  color: #ada1a5;
  padding: 0 2em;
}
.cards-two img {
  border-radius: 0.3em;
  height: 40vh;
  width: 30vw;
}
.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.articles article .name {
  color: black;
}

h4 {
  color: #9ac2e1;
  padding-bottom: 1em;
}
/*footer*/
footer {
  background-color: #debb9c;
  text-align: center;
  padding: 0.5em 0;
}

/*Responsive*/
@media screen and (max-width: 1400px) {
  .title {
    padding: 0 1em;
  }

  .motivational-words {
    text-align: center;
    padding: 1.5em 0em;
  }
  .cards-two img {
    height: 30vh;
    width: 30vw;
  }
}

@media screen and (max-width: 880px) {
  .cards-two img {
    height: 20vh;
    width: auto;
  }

  nav ul {
    justify-content: center;
  }

  .banner-text {
    padding: 0;
  }
}

@media screen and (max-width: 670px) {
  nav ul {
    background-color: black;
  }
  .motivational-words {
    padding: 0;
  }
}

@media screen and (max-width: 550px) {
  .banner-text {
    padding-top: 1em;
    font-size: 0.8em;
  }
}
@media screen and (max-width: 480px) {
  .social {
    flex-direction: column;
  }
  .social i {
    padding: 1em 0.5em;
  }

  .title {
    font-size: 1.7em;
  }
  nav ul li {
    padding: 1em;
  }
  .articles article {
    padding: 2em;
    flex-basis: 100%;
  }
  .social li {
    font-size: 14px;
    margin: 0;
  }
}
